@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

$main-background-color: #c2e8df;
$label-color: #afdfcf;
$block-color: #ffffff;
$button-color: #3ab076;
$text-color: #2d484d;

$main-font: 'Comic Neue', cursive;

$form-height: 55px;